---
const texts = [
  {
    color: "red",
    title: "FEED",
    shorthand: "S0",
    description:
      "Status on Control object from FEED. Not adjusted based on FEED-comments or Project development after FEED.",
  },
  {
    color: "blue",
    title: "Preliminary towards Civil",
    shorthand: "S1Y",
    description: "Confirmed not-to-exceed area (S1Y)",
  },
  {
    color: "brown",
    title: "Preliminary",
    shorthand: "S2Y",
    description:
      "Control object modelled with simplified shape based on preliminary design from previous stage and estimated information.",
  },
  {
    color: "blue",
    title: "Released for IDC towards Civil",
    shorthand: "S2Y",
    description:
      "Preliminary cable routing, load, and footprint input to Civil from upstream disciplines",
  },
  {
    color: "yellow",
    title: "Released for verification/IDC",
    shorthand: "S2",
    description: `"Detailed shape with "not to exceed" outer dimensions and location approved by own discipline. If relevant, based on First Supplier Information`,
  },
  {
    color: "blue",
    title: "Frozen towards Civil",
    shorthand: "S3Y",
    description:
      "Frozen cable routing, load and footprint input to Civil Engineering from upstream disciplines",
  },
  {
    color: "green",
    title: "Frozen Interface",
    shorthand: "S3",
    description: `Control object completed with final shape and location. Verification/IDC comments implemented. Interfaces towards other control objects and other disciplines frozen. If relevant, based on Frozen Supplier Interface`,
  },
  {
    color: "blue",
    title: "",
    shorthand: "S4H",
    description:
      "S4Hold awaiting third party comments or other authority og Company descissions",
  },
  {
    color: "green",
    title: "Detail Design Completed",
    shorthand: "S4",
    description:
      "Detail design of control object completed and approved for construction.Detailing shall not affect interfaces to other disciplines and control objects.",
  },
];

const textslong = [
  {
    title: "S0: Sketch",
    text: "Objects created at S0 should be regarded as preliminary sketches. In practice, it means that several solutions are modeled and then analyzed. Solutions can change in a very short time.",
    id: "S0",
  },
  {
    title: "S1: Preliminary",
    text: "At the level of the S1, objects are recognized as concepts that are ready for further design.For example, on the S1 level there may be a designated road corridor (approximate area occupied by the corridor). In theory, it shouldn’t undergo a major change that would affect other industries.Objects are in the correct location, approximate size and shape. Objects have information about the project, their geographic location. They may also have information that will allow them to create price inquiries and cost analysis.",
    id: "S1",
  },
  {
    title: "S2: Released for verification/IDC",
    text: "At the S2 level, facilities are coordinated within their industry. The objects are so mature that it is possible to carry out interdisciplinary control. Objects are the right size, shape, volume and location.The objects have the information necessary for production.",
    id: "S2",
  },
  {
    title: "S3: Frozen Interface",
    text: "Objects to reach level S3 must be correctly coordinated with respect to objects representing other industries. Coordination is an iterative process until all objects reach the S3 level. The objects have their final shape, size, volume and are correctly positioned. The objects have the information necessary for production.",
    id: "S3",
  },
  {
    title: "S4: Detail Design Completed",
    text: "Between the S3 and S4 models and objects are analyzed by the customer (contractor) in terms of quality, that is, they have the appropriate geometry and information. After verification on site, in the event of any discrepancies or suggestions for changes, feedback is sent to the relevant discipline departments for re-review. Once all feedback has been approved, the object is ready for production, which means it has an S4. The objects are modeled and detailed with the thought of being made. The objects are supplemented with additional information for a specific product as necessary.",
    id: "S4",
  },
  {
    title: "S2Y/S3Y:",
    text: "These statuses are intended to be used towards subcontractors, and suggests when we must receive input. These statuses are only to be used on control objects when its relevant. Other parties can put S3Y frozen towards Civil before they reach S3 to communicate to Multiconsult that the control object is frozen towards civil so that multiconsult can design as if it was S3, this is done to save time.&nbsp;",
    id: "S2Y",
  },
  {
    title: "S4H:Hold",
    text: "When it is necessary to communicate a Hold on a control object. Which control question is missing? and a hold-comment can be attached.",
    id: "S4H",
  },
];
---

<script is:inline>
  // document.getElementById("button").addEventListener("click",  handleClick);

  function showContent(id) {
    var divs = document.getElementsByClassName("infobox");
    //   var lunks = document.getElementsByClassName("links");
    var thing = document.getElementById(id);
    console.log(id);
    for (var i = 0; i < divs.length; i++) {
      if (divs[i].classList.contains("infobox")) {
        divs[i].style.display = "none";
      }
    }
    console.log(id.toString());

    //   for (var i = 0; i < lunks.length; i++) {
    //     if (lunks[i].classList.contains("links")) {
    //       lunks[i].classList.remove("activeLink");
    //     }
    //   }
    document.getElementById(id).style.display = "block"; // on affiche le div appelé
    //   document.getElementById(id2).classList.add("activeLink"); // on affiche le div appelé
  }
</script>
<style>
  .infobox {
    background-color: rgb(202, 202, 202);
    color: rgb(22, 22, 22);
    width: 500px;
    padding: 20px;
    margin: 10px auto;
  }
  .titleBox {
    color: rgb(22, 22, 22);
    font-weight: 700;
    width: 140px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 3px 6px;
    /* border-radius: 5px; */
  }

  .titleBox2 {
    background-color: rgb(202, 202, 202);
    color: rgb(22, 22, 22);
    width: 140px;
    font-size: 14px;
    display: grid;
    place-items: center;
    text-align: center;
    padding: 3px 6px;
    /* border-radius: 5px; */
    /* margin: 0px -10px;
    z-index: 1; */
  }

  .titleContainer {
    display: flex;
    width: 100%;
    /* justify-content: center; */
    flex-wrap: wrap;
  }

  .img1 {
    max-width: 900px;
    margin: 2em 1em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
</style>

<div class="titleContainer">
  {
    texts.map((item) => (
      <a href={`javascript:showContent(S1)`}>
        <div
          id="myBtn"
          class="titleBox"
          style={`background-color:${item.color}`}
        >
          <div>{item.title}</div>
          <div> {item.shorthand}</div>
        </div>
        <div class="titleBox2">{item.description}</div>
      </a>
    ))
  }
</div>
<div>
  {
    textslong.map((item) => (
      <div id="S1" class="infobox" style="display:none;">
        <div>{item.title}</div>
        <div> {item.text}</div>
      </div>
    ))
  }
</div>
